In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
np.random.seed(42)

In [2]:
df=pd.read_csv("D:/train/Train.csv") 
test = pd.read_csv("D:/train/Test.csv")
subm= pd.read_csv("D:/train/SampleSubmission.csv")

df.head(10)

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country,Purchase Again
0,8236617,DEFAULT,Promotions,03 fardeaux Ifri + 1 offert,30,480,14400,43650,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1
1,8236617,DEFAULT,Promotions,3 fardeaux coca achetes = 1 fardeau offert,15,1800,27000,43650,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1
2,8236617,DEFAULT,Promotions,Snickers mini cube 200g,5,450,2250,43650,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1
3,8236624,COMPLETED,Paves,Pave chocolat,3,100,300,1460,700700,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1
4,8236624,COMPLETED,Tartes,Tarte citron,3,100,300,1460,700700,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1
5,8236624,COMPLETED,Tartes,Tarte frutis,3,120,360,1460,700700,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1
6,8236624,COMPLETED,Eclaires,Eclaire chocolat,2,100,200,1460,700700,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1
7,8236624,COMPLETED,Mille-Feuille,Mille-feuille citron,5,60,300,1460,700700,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1
8,8236744,REJECTED,Biscuits,LU PIM's framboise 150g,10,375,3750,3750,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:41:18,Algeria,1
9,8236772,REJECTED,Petit-dejeuner,KELLOGGS Corn Flakes 375g,3,600,1800,1800,200200,CASH_PAY,8392354.0,6158523,2021-01-01 00:46:25,Algeria,1

In [3]:
df['Unit Price'] = pd.to_numeric(df['Unit Price'], errors='coerce')
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Delivery Charge'] = pd.to_numeric(df['Delivery Charge'], errors='coerce')
test['Delivery Charge']= pd.to_numeric(test['Delivery Charge'],errors='coerce')

In [4]:
cash = df['Payment Method']=='CASH_PAY' 
df['Cash'] = cash
test['Cash']= cash
df.head(10)

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country,Purchase Again,Cash
0,8236617,DEFAULT,Promotions,03 fardeaux Ifri + 1 offert,30,480.0,14400,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,True
1,8236617,DEFAULT,Promotions,3 fardeaux coca achetes = 1 fardeau offert,15,1800.0,27000,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,True
2,8236617,DEFAULT,Promotions,Snickers mini cube 200g,5,450.0,2250,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,True
3,8236624,COMPLETED,Paves,Pave chocolat,3,100.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False
4,8236624,COMPLETED,Tartes,Tarte citron,3,100.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False
5,8236624,COMPLETED,Tartes,Tarte frutis,3,120.0,360,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False
6,8236624,COMPLETED,Eclaires,Eclaire chocolat,2,100.0,200,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False
7,8236624,COMPLETED,Mille-Feuille,Mille-feuille citron,5,60.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False
8,8236744,REJECTED,Biscuits,LU PIM's framboise 150g,10,375.0,3750,3750,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:41:18,Algeria,1,True
9,8236772,REJECTED,Petit-dejeuner,KELLOGGS Corn Flakes 375g,3,600.0,1800,1800,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:46:25,Algeria,1,True

In [5]:
card = df['Payment Method']=='CARD_PAY' 
df['Card'] = card
test['Card']= card
df.head(10)

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country,Purchase Again,Cash,Card
0,8236617,DEFAULT,Promotions,03 fardeaux Ifri + 1 offert,30,480.0,14400,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,True,False
1,8236617,DEFAULT,Promotions,3 fardeaux coca achetes = 1 fardeau offert,15,1800.0,27000,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,True,False
2,8236617,DEFAULT,Promotions,Snickers mini cube 200g,5,450.0,2250,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,True,False
3,8236624,COMPLETED,Paves,Pave chocolat,3,100.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False,True
4,8236624,COMPLETED,Tartes,Tarte citron,3,100.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False,True
5,8236624,COMPLETED,Tartes,Tarte frutis,3,120.0,360,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False,True
6,8236624,COMPLETED,Eclaires,Eclaire chocolat,2,100.0,200,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False,True
7,8236624,COMPLETED,Mille-Feuille,Mille-feuille citron,5,60.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,False,True
8,8236744,REJECTED,Biscuits,LU PIM's framboise 150g,10,375.0,3750,3750,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:41:18,Algeria,1,True,False
9,8236772,REJECTED,Petit-dejeuner,KELLOGGS Corn Flakes 375g,3,600.0,1800,1800,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:46:25,Algeria,1,True,False

In [6]:
df['Cash'] = (df['Cash'] == True ).astype(int)
df['Card'] = (df['Card'] == True ).astype(int)
df.head(10)

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Total Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country,Purchase Again,Cash,Card
0,8236617,DEFAULT,Promotions,03 fardeaux Ifri + 1 offert,30,480.0,14400,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,1,0
1,8236617,DEFAULT,Promotions,3 fardeaux coca achetes = 1 fardeau offert,15,1800.0,27000,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,1,0
2,8236617,DEFAULT,Promotions,Snickers mini cube 200g,5,450.0,2250,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,1,0
3,8236624,COMPLETED,Paves,Pave chocolat,3,100.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1
4,8236624,COMPLETED,Tartes,Tarte citron,3,100.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1
5,8236624,COMPLETED,Tartes,Tarte frutis,3,120.0,360,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1
6,8236624,COMPLETED,Eclaires,Eclaire chocolat,2,100.0,200,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1
7,8236624,COMPLETED,Mille-Feuille,Mille-feuille citron,5,60.0,300,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1
8,8236744,REJECTED,Biscuits,LU PIM's framboise 150g,10,375.0,3750,3750,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:41:18,Algeria,1,1,0
9,8236772,REJECTED,Petit-dejeuner,KELLOGGS Corn Flakes 375g,3,600.0,1800,1800,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:46:25,Algeria,1,1,0

In [7]:
del df["Total Price"] 
del test["Total Price"]

In [8]:
TP = df["Unit Price"]*df["Quantity"] 
df["Total Price"]= TP 
test["Total Price"]= TP

In [9]:
df.head(20)

,Order ID,Order Status,Category Name,Product Name,Quantity,Unit Price,Sub Total,Delivery Charge,Payment Method,Customer ID,Merchant,Order Time,Customer Country,Purchase Again,Cash,Card,Total Price
0,8236617,DEFAULT,Promotions,03 fardeaux Ifri + 1 offert,30,480.00,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,1,0,14400.00
1,8236617,DEFAULT,Promotions,3 fardeaux coca achetes = 1 fardeau offert,15,1800.00,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,1,0,27000.00
2,8236617,DEFAULT,Promotions,Snickers mini cube 200g,5,450.00,43650,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:26:48,Algeria,1,1,0,2250.00
3,8236624,COMPLETED,Paves,Pave chocolat,3,100.00,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1,300.00
4,8236624,COMPLETED,Tartes,Tarte citron,3,100.00,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1,300.00
5,8236624,COMPLETED,Tartes,Tarte frutis,3,120.00,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1,360.00
6,8236624,COMPLETED,Eclaires,Eclaire chocolat,2,100.00,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1,200.00
7,8236624,COMPLETED,Mille-Feuille,Mille-feuille citron,5,60.00,1460,700700.0,CARD_PAY,6359544.0,17654385,2021-01-01 00:27:29,Algeria,1,0,1,300.00
8,8236744,REJECTED,Biscuits,LU PIM's framboise 150g,10,375.00,3750,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:41:18,Algeria,1,1,0,3750.00
9,8236772,REJECTED,Petit-dejeuner,KELLOGGS Corn Flakes 375g,3,600.00,1800,200200.0,CASH_PAY,8392354.0,6158523,2021-01-01 00:46:25,Algeria,1,1,0,1800.00
10,8238426,COMPLETED,Jouets,Voiture de police telecommandee avec lumires...,1,2200.00,2200,520520.0,CARD_PAY,7279950.0,16666776,2021-01-01 04:51:53,Algeria,0,0,1,2200.00
11,8238633,COMPLETED,Covid-19,Supradyn energie,1,1379.99,4022.25,20802080.0,CARD_PAY,7279950.0,16800798,2021-01-01 05:22:00,Algeria,0,0,1,1379.99
12,8238633,COMPLETED,Covid-19,DOPPEL HERZ Omega 3,1,1180.26,4022.25,20802080.0,CARD_PAY,7279950.0,16800798,2021-01-01 05:22:00,Algeria,0,0,1,1180.26
13,8238633,COMPLETED,Covid-19,Doppel Herz Zinc+ vit C + histidine,1,1462.00,4022.25,20802080.0,CARD_PAY,7279950.0,16800798,2021-01-01 05:22:00,Algeria,0,0,1,1462.00
14,8238776,COMPLETED,NaN,Steak 250 Gr,4,487.50,7856,640640.0,CARD_PAY,6115922.0,8069691,2021-01-01 05:42:44,Algeria,0,0,1,1950.00
15,8238776,COMPLETED,NaN,Entrecote sans os 250 Gr,2,655.50,7856,640640.0,CARD_PAY,6115922.0,8069691,2021-01-01 05:42:44,Algeria,0,0,1,1311.00
16,8238776,COMPLETED,NaN,Viande hachee 250 Gr,2,462.50,7856,640640.0,CARD_PAY,6115922.0,8069691,2021-01-01 05:42:44,Algeria,0,0,1,925.00
17,8238776,COMPLETED,NaN,Escalope de dinde 250 Gr,4,275.00,7856,640640.0,CARD_PAY,6115922.0,8069691,2021-01-01 05:42:44,Algeria,0,0,1,1100.00
18,8238776,COMPLETED,NaN,"Poulet complet entre 1,8 kg et 2,3 kg",1,1150.00,7856,640640.0,CARD_PAY,6115922.0,8069691,2021-01-01 05:42:44,Algeria,0,0,1,1150.00
19,8238776,COMPLETED,NaN,Merguez Royal 250 Gr,4,355.00,7856,640640.0,CARD_PAY,6115922.0,8069691,2021-01-01 05:42:44,Algeria,0,0,1,1420.00

In [10]:
new_df = df.groupby('Customer ID').agg({
    'Order ID': 'count',
    'Quantity': 'sum',
    'Merchant': 'count',
    'Total Price': 'sum',
    'Purchase Again' : 'max',
    'Delivery Charge':'sum',
     'Cash' : 'sum',
     'Card' : 'sum',
    
    

})

nw_test = test.groupby('Customer ID').agg({
    'Order ID': 'count',
    'Quantity': 'sum',
    'Merchant': 'count',
    'Total Price': 'sum', 
    'Delivery Charge':'sum',
    'Cash' : 'sum',
     'Card' : 'sum',
    
    
    })

In [11]:
nw_test.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 767 entries, 1786544.0 to 2480000000000.0
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order ID         767 non-null    int64
 1   Quantity         767 non-null    int64
 2   Merchant         767 non-null    int64
 3   Total Price      767 non-null    float64
 4   Delivery Charge  767 non-null    float64
 5   Cash             767 non-null    int64
 6   Card             767 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 47.9 KB

In [12]:

new_df.head(10)

,Order ID,Quantity,Merchant,Total Price,Purchase Again,Delivery Charge,Cash,Card
Customer ID,,,,,,,,
1629574.0,5,6,5,1588.0,1,1341340.0,5,0
1735264.0,1,1,1,3990.0,0,150150.0,1,0
1755078.0,4,8,4,2621.0,0,800800.0,4,0
1755834.0,30,496,30,21234.0,1,2382380.0,7,0
1756892.0,4,4,4,1097.0,1,1081080.0,4,0
1774970.0,2,2,2,660.0,0,500500.0,2,0
1787922.0,2,2,2,907.0,0,400400.0,2,0
1789202.0,1,4,1,996.0,0,200200.0,1,0
1808460.0,20,60,20,8128.0,0,4004000.0,20,0
1823292.0,11,18,11,3364.0,0,2202200.0,11,0

In [13]:
X= new_df.drop('Purchase Again',axis=1)
y=new_df['Purchase Again']

In [14]:
model= RandomForestClassifier(random_state=42) 
model.fit(X,y)

RandomForestClassifier(random_state=42)

In [16]:
y_hat = model.predict(nw_test) 
subm['Target']= y_hat 
subm.to_csv("D:/train/Data2.csv")
subm.head(10)

    Customer  Target
0  1786544.0       0
1  1790392.0       0
2  1792674.0       1
3  1806334.0       1
4  1814650.0       0
5  1854890.0       1
6  1875802.0       0
7  1897264.0       0
8  1975018.0       0
9  2005200.0       0